$white: #fff;
$black: #191919;
$green-dark: #1e441d;
$green-mid: #2d652c;
$green-light: #3c873a;
$blue-metal: #338b99;
$blue-light: #0e67a7;
$blue-mid: #0c568b;
$blue-dark: #084067;
$charcoal: #252525;
