$white: #fff;
$black: #191919;
$green-nuxt: #43976c;
$green-dark: #1e441d;
$green-mid: #2d652c;
$green-light: #3c873a;
$blue-metal: #338b99;
$blue-light: #0e9594;
$blue-mid: #117d7d;
$blue-dark: #028090;
$charcoal: #252525;
